// Normalize
// ==========================================================================
// Correct the font size and margin on `h1` elements within `section` and
// `article` contexts in Chrome, Firefox, and Safari.
h1 {
  font-size: 60px;
}

h2 {
  border-bottom: 5px solid $color-base;
  display: inline-block;
  font-size: 40px;
  padding-top: $space-base;
  margin: 0 0 0 $space-out-medium;
}

h3 {
  font-size: 30px;
  color: $color-base;
}

h4 {
  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  color: #fff;
  font-family: $font-family-base;
  font-weight: 700;
}

.h-section {
  text-align: center;
  text-transform: uppercase;
}

.h-page {
    color: inherit;
    text-align: center;
    text-shadow: 0 0 2px rgba(0, 0, 0, .25);
    text-transform: uppercase;
}

