//fonts
$font-family-base: 'Oswald', sans-serif;

//colores
$color-base: #41a48e;
$color-contrast: #168169;
$color-gray: #525454;

//inside components
$space-base: 50px;
$space-small: 20px;
$space-medium: 85px;
$space-large: 100px;


//between components 
$space-out-base: 100px;
$space-out-small: 20px;
$space-out-medium: 50px;



