nav {	
	//display: none;
    position: absolute;
    -ms-transform: translate(-780px, 0); /* IE 9 */
    -webkit-transform: translate(-780px, 0); /* Safari */
    transform: translate(-780px, 0);
    -webkit-transition: all .1s; /* Safari */
    transition: all 1s ease-in-out;
    width: 75%;

	a {
		border-bottom: solid 2px #fff;
		color: #fff;
		display: block;	
		font-size: 24px;
		margin-top: 10px;
		padding-bottom: 10px;

		&:hover {
            color: $color-contrast;
            border-bottom: solid 2px $color-contrast;            	
		}
	}
}

.menu-bg--hamburger {
    background-image: url("../img/icon-menu.png");
    background-size: cover;
}

.menu-bg--exit {
    background-image: url("../img/icon-exit.png");
    background-size: cover;
}
.main-menu {
	background-color: rgba(0,0,0,.55);
    position: relative;
    width: 50%;
}

.main-menu__menu-icon {
    margin: 0 0 $space-out-small $space-out-medium;
    height: 55px;
    width: 40px;
}
.main-menu__logo-close,
.main-menu__logo-open, {
    text-align: center;
    
    img {
        width: 80%;
    }
}

.main-menu__logo-close {
    padding: 200px 0 300px 0;
    transition: all 1s ease-in-out;
}

.main-menu__logo-open {
    padding: 20px;
}

.toggleMenu {
    -ms-transform: translate(50px, 0); /* IE 9 */
    -webkit-transform: translate(50px, 0); /* Safari */
    transform: translate(50px, 0);
} 

.hiddenMainLogo {
    -ms-transform: translate(-900px, 0); /* IE 9 */
    -webkit-transform: translate(-900px, 0); /* Safari */
    transform: translate(-900px, 0);
}